body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 2px;
  /* Adjust width if needed */
  background: var(--black);
  /* Scrollbar background (track) */
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 10px;
}

.f-arrow {
  text-shadow: -.5em 0 0 var(--black);
}

.formula::before {
  content: "";
  display: table;
  margin-bottom: calc(-0.5lh + 0.57em);
}

.formula::after {
  content: "";
  display: table;
  margin-bottom: calc(-0.5lh + 0.57em);
}

.chars {
  display: inline-block;
  white-space: pre;
}

[p-opacity] .char {
  display: inline-block;
  white-space: pre;
}

[p-opacity] {
  hyphens: auto;
  word-break: normal;
  overflow-wrap: break-word;

}

@media (max-width: 768px) {
  .analog2 {
    display: flex;
    flex-direction: column;
    max-height: auto;
    height: auto;
    width: 100%;
  }

  .analog.sectionwrap.blackbg {
    max-width: none;
    max-height: none !important;
    height: 100% !important;
    width: 100%;
  }

  .analog-wrap {
    height: 75vh;
  }
}

@media (min-width: 2400px) {
  .mono {
    font-size: 1rem;
  }

  /*.ap-specs {*/
  /*  height: 83%;*/
  /*}*/

  .m-content {
    height: 120vw;
    max-height: 3800px;
  }
}

@media (min-width: 1600px) {

  .shifter-svg {
    width: clamp(500px, 20vw, 700px);
  }
}

/*[spec] {*/
/*  opacity: 0;*/
/*}*/
